.addProduct {
    width: 90%;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 8%;
    vertical-align: top;
    padding: 1%;
    position: relative;
}

.addProduct h2 {
    display: block;
    margin: 4% 0;
    width: 100%;
}

.addProduct Button {
    width: 10em;
}

.addProduct Button[type=submit] {
    width: 9em;
    margin-top: 5%;
}

.formGroup {
    width: 35%;
}

.antiquary {
    width: 35%;
}