.product {
    width: 30%;
    min-height: 400px;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 1%;
    vertical-align: top;
    padding: 1%;
    position: relative;
}

.product h1 {
    font-size: 28px;
    margin: 0;
    display: block;
}

.product h2 {
    font-size: 22px;
    margin: 5px;
}

.product h2, .product h1 {
    display: block;
    width: 100%;
}

.SearchContainer, .ResultContainer {
    width: 100%;
}

.product table, .product tbody {
    width: 80%;
    margin: 15px auto;
    margin-bottom: 40px;
}

.product .add-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}