.works {
    width: 20%;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 1%;
    vertical-align: top;
    padding: 1%;
    position: relative;
}

.works table, .works tbody {
    width: 100%;
}

.works h3 {
    font-size: 24px;
    margin: 2% 0;
    display: block;
}

.worksContainer h2 {
    display: block;
    margin: 4% 0;
    width: 100%;
}