.ShoppingCart {
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
}

.Overall {
    border-top: 2px solid #e1e1e1;
    margin: 1.5em;
    text-align: right;
}

.Overall button {
    float: right;
    margin-top: 18px;
}

.Overall h3 {
    display: inline-block;
    margin-right: 1em;
}

.ShoppingCart h2 {
    text-align: center;
}

.ShoppingCart ul {
    padding: 0;
    list-style: none;
    display: inline-block;
}

.ShoppingCart ul>li {
    display: inline-block;
}

.ShoppingCart li + li:before {
    content: ", ";
}

.AmountSelection {
    float: right;
}

.AmountSelection .btn {
    margin: 0 10px;
}

.AmountSelection .btn .btn-danger {
    margin-right: 0;
}