.ShoppingCart {
    overflow: auto;
}

.Overall {
    border-top: 2px solid green;
    margin: 1.5em;
}

.content {
    float: left;
}

Button {
    margin-left: 100%;
}

h2 {
    margin-left: 1em;
}

h3 {
    margin-left: 1em;
}

a {
    text-decoration: none;
}