<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://51.255.172.150:5432/tikoht</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="datamodel.Antiquarian"/>
    <mapping resource="datamodel/Antiquarian.hbm.xml"/>
    <mapping resource="datamodel/Product.hbm.xml"/>
    <mapping class="datamodel.Product"/>
    <mapping resource="datamodel/User.hbm.xml"/>
    <mapping class="datamodel.User"/>
    <mapping class="datamodel.Order"/>
    <mapping resource="datamodel/Order.hbm.xml"/>
    <mapping resource="datamodel/Work.hbm.xml"/>
    <mapping class="datamodel.Work"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>